<html xmlns="http://www.w3.org/1999/xhtml" 
xmlns:h="http://java.sun.com/jsf/html" 
xmlns:f="http://java.sun.com/jsf/core" 
xmlns:c="http://java.sun.com/jsp/jstl/core">

<h:head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<title>App</title>

</h:head>
<h:body>
	<h:form>
		<p> Descrição: <h:inputText value="#{tipoMBean.tipo.descricao}" /> </p>
		<p> <h:commandButton action="#{tipoMBean.salvar}" value="Salvar" /> </p>
	</h:form>
</h:body>
</html>